@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

// Common Styles

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'nunito', sans-serif;
    font-weight: 400;
}
html{
    font-size: 62.5%; 
}

// End of Common Styles