@import "../colors/color.scss";

.section-3{
    background-color: $backgroundColorSection1;
    padding: 5rem 0;

    .section-heading{
        font-weight: 900;
        font-size: 10rem;
        letter-spacing: 0.5rem;
        color: $textColorTitle;
        text-align: center;
        text-transform: capitalize;
        text-shadow: 0.3rem 0.3rem 0.3rem #000;
    }
    .gallery{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10rem;

        .gallery-link{
            position: relative;
            margin: 4rem 1rem;
            
            .food-img{
                width: 24vw;
                height: 15vw;
                object-fit: cover;

                box-shadow: 
                0.3rem 0.3rem 0.1rem #e92929,
                0.5rem 0.5rem 0.1rem #a2e946,
                0.7rem 0.7rem 0.1rem #297ce9,
                0.9rem 0.9rem 0.1rem #e92999;
                transition: all 0.5s;
            }
            .food-name{
                position: absolute;
                top: 2.5rem;
                left: 2rem;
                font-size: 1.5rem;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                color: $textColorTitle;

                width: 0;
                overflow: hidden;
            }
            .food-description{
                position: absolute;
                bottom: 2vw;
                left: 2rem;
                width: 70%;
                font-size: 1.1rem;
                font-weight: 300;
                text-transform: uppercase;
                color: $textColorTitle;

                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s;
            }
        }
        .gallery-link:hover .food-img{
            box-shadow: 
                1rem 1rem 0.1rem #e92929,
                2rem 2rem 0.1rem #a2e946,
                3rem 3rem 0.1rem #297ce9,
                4rem 4rem 0.1rem #e92999;
            filter: blur(0.5rem); //embaraçar 
            opacity: 0.5;    //Linha direita
            transform: scale(1.1);       

        }
        .gallery-link:hover .food-name{
            width: 100%;
            transition: width 1.5s 0.3s;
        }
        .gallery-link:hover .food-description{
            opacity: 1;
            visibility: visible;
            transition: opacity 1s 0.5s;
        }
        .gallery-link::before{
            content: "";
            position: absolute;
            top: 2vw;
            left: 80%;
            width: 0.2rem;
            background-color: $textColorTitle;
            
            height: 0; //
            transition: height 0.5s;

            z-index: 10;
        }
        .gallery-link:hover:before{
            height: 80%; //
        }

        .gallery-link::after{
            content: "";
            position: absolute;
            top: 30%;
            left: 2rem;
            height: 0.2rem;
            background-color: $textColorTitle;
            
            width: 0; //
            transition: width 0.5s;

        }
        .gallery-link:hover::after{
            width: 90%; //
        }
    }
}