$backgroundColorNavbar: #000;
$texColorNavbar: #aaa;
$texColorNavbarHover: #fff;

$backgroundColorSection1: #333;
$textColorTitle: #fff;
$colorIcons: #a79a2d;

$backgroundColorSection2: #222;
$colorName: #111;
$backgroundColorButton: #111;
$textColorButton: #888;
$backgroundColorQuad: #8f8317;
