@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'nunito', sans-serif;
    font-weight: 400;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%; 
}
