// Navbar
$backgroundColorNavbar: #000;
$texColorNavbar: #aaa;
$texColorNavbarHover: #fff;
// End of Navbar 

// Section 1


$backgroundColorSection1: #333;
$textColorTitle: #fff;
$colorIcons: #a79a2d;

// End of Section 1

// Section 2

$backgroundColorSection2: #222;
$colorName: #111;
$backgroundColorButton: #111;
$textColorButton: #888;
$backgroundColorQuad: #8f8317;
// End of Section 2